// sass --watch base.scss:base.css
@import '../signin/style.scss';

html {
    scroll-behavior: smooth;
}

// base template scss
body {
    background-image: none;
    font-size: 1.5em;

    nav {
        width: 95%;
        height: fit-content;
        background-color: $bb;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        font-size: 1.5em;

        li {
            margin-left: 15px;
            list-style-type: none;
            display: inline;

            a {
                color: $fontcolor;
                text-decoration: none;
                -moz-transition: all .2s ease-in;
                -o-transition: all .2s ease-in;
                -webkit-transition: all .2s ease-in;
                transition: all .2s ease-in;
            }

            a:hover {
                color: rgb(77, 218, 171);
                text-decoration: underline;
            }
        }

        hr {
            margin-right: 40px;
            border: 2px solid $fontcolor
        }

        .user {
            font-size: 1em;
            margin-right: 40px;
            display: inline;
            color: $fontcolor;
            float: right;
            -moz-transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            -webkit-transition: all .2s ease-in;
            transition: all .2s ease-in;
        }

        .user:hover {
            color: rgb(86, 244, 191);
            text-decoration: underline;
        }
    }

    .cont {

        ::selection {
            background: #4ddaab;
            /* WebKit/Blink Browsers */
        }

        ::-moz-selection {
            background: #4ddaab;
            /* Gecko Browsers */
        }

        h1 {
            font-size: 1.8em;
        }

        color: $bb;
        width: 95%;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;

        .home-nav {

            background-color: rgb(235, 235, 235);
            list-style-type: none;
            padding: 15px;
            position: sticky;
            top: 0;

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            row-gap: 10px;

            a {
                text-decoration: none;
                color: gray;
            }

            a:hover {
                color: black;
            }
        }

        ul {
            li {
                color: red;
            }
        }

        .link {
            -moz-transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            -webkit-transition: all .2s ease-in;
            transition: all .2s ease-in;
            color: black;
        }

        .link:hover {
            color: #4ddaab;
        }

        input {
            font-size: .8em;
        }
        textarea {
            resize: none;
            width: 50%;
            font-size: .8em;
        }
    }
}


@media (orientation: portrait),
(max-width:1108px) {
    body {
        nav {
            font-size: .8em;
        }

        .user {
            font-size: .9em;
        }

        .cont {
            .home-nav {
                font-size: .8em;
                padding: 8px;
            }
        }
    }
}