@font-face {
  font-family: externalFont;
  src: url(../fonts/Questrial-Regular.ttf);
}
body {
  font-size: 1.5em;
  font-family: externalFont;
  background-image: url("../../static/imgs/code.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: rgb(231, 239, 245);
}
body .signin-cont {
  margin-top: 5%;
  background-color: rgb(39, 39, 39);
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  width: 30%;
  min-width: 400px;
  max-width: 500px;
  height: fit-content;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  color: rgb(231, 239, 245);
}
body .signin-cont .err {
  color: rgb(187, 63, 63);
}
body .signin-cont a {
  text-decoration: none;
  color: rgb(231, 239, 245);
}
body .signin-cont a:hover {
  text-decoration: underline;
}
body .signin-cont .signin-inp input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
  padding: 10px;
  margin-top: 10px;
}
body .signin-cont .signin-inp input:hover {
  background-color: rgb(221, 221, 221);
}
body .signin-cont .signin-inp button {
  border-radius: 10px;
  border-style: none;
  padding: 10px;
  margin-top: 10px;
}
body .signin-cont .signin-inp button:hover {
  background-color: rgb(221, 221, 221);
}
body .visit {
  text-align: center;
  text-shadow: 0px 0px 13px rgb(0, 0, 0);
}
body .visit a {
  text-decoration: none;
  color: rgb(231, 239, 245);
}
body .visit a:hover {
  text-decoration: underline;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: none;
  font-size: 1.5em;
}
body nav {
  width: 95%;
  height: fit-content;
  padding: 10px;
  background-color: rgb(39, 39, 39);
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
body nav li {
  margin-left: 15px;
  list-style-type: none;
  display: inline;
}
body nav li a {
  color: rgb(231, 239, 245);
  text-decoration: none;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
body nav li a:hover {
  color: rgb(77, 218, 171);
  text-decoration: underline;
}
body nav hr {
  margin-right: 40px;
  border: 2px solid rgb(231, 239, 245);
}
body nav .user {
  margin-right: 40px;
  display: inline;
  color: rgb(231, 239, 245);
  float: right;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
body nav .user:hover {
  color: rgb(86, 244, 191);
  text-decoration: underline;
}
body .cont {
  color: rgb(39, 39, 39);
  width: 95%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
body .cont ::selection {
  background: #4ddaab; /* WebKit/Blink Browsers */
}
body .cont ::-moz-selection {
  background: #4ddaab; /* Gecko Browsers */
}
body .cont h1 {
  font-size: 1.8em;
}
body .cont .home-nav {
  background-color: rgb(235, 235, 235);
  list-style-type: none;
  padding: 15px;
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  row-gap: 10px;
}
body .cont .home-nav a {
  text-decoration: none;
  color: gray;
}
body .cont .home-nav a:hover {
  color: black;
}
body .cont ul li {
  color: red;
}
body .cont .link {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: black;
}
body .cont .link:hover {
  color: #4ddaab;
}

@media (orientation: portrait), (max-width: 1108px) {
  body nav {
    font-size: 0.8em;
  }
  body .user {
    font-size: 0.9em;
  }
  body .cont .home-nav {
    font-size: 0.8em;
  }
}

/*# sourceMappingURL=base.css.map */
