// sass --watch base.scss:base.css
@import '../signin/style.scss';

body {
    background-image: none;
    font-size: 1.5em;

    nav {
        width: 95%;
        height: fit-content;
        padding: 10px;
        background-color: $bb;
        margin-left: auto;
        margin-right: auto;

        li {
            margin-left: 15px;
            list-style-type: none;
            display: inline;

            a {
                color: $fontcolor;
                text-decoration: none;
            }

            a:hover {
                color: aquamarine;
                text-decoration: underline;
            }
        }

        .user {
            display: inline;
            color: $fontcolor;
            float: right;
        }

        .user:hover {
            color: aquamarine;
            text-decoration: underline;
        }
    }

    .cont {
        h1 {
            font-size: 1.8em;
        }

        color: $bb;
        margin-left: 25px;

        ul {
            li {
                color: red;
            }
        }
    }
}

@media (orientation: portrait),
(max-width:1108px) {
    body {
        nav {
            font-size: .8em;
        }
    }
}