// sass --watch base.scss:base.css
@import '../signin/style.scss';

body {
    background-image: none;

    nav {
        margin-top: -9%;
        position: fixed;
        width: 95%;
        height: fit-content;
        padding: 10px;
        background-color: $bb;
        left: 50%;
        transform: translateX(-50%);

        li {
            margin-left: 15px;
            list-style-type: none;
            display: inline;

            a {
                color: $fontcolor;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

    .cont {
        margin-top: 10%;
        margin-left: 10%;

        ul {
            li {
                color: red;
            }
        }
    }
}