<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andrew's Website</title>
    <link rel="stylesheet" href="../../static/base/base.css">
</head>

<body>

    <nav>
        <ul>
            <li><a href="{% url 'basic_app:home' %}">Home</a></li>

            {% if user.is_authenticated %}
            <li><a href="{% url 'signout' %}">Sign out</a></li>
            {% else %}
            <li><a href="{% url 'index' %}">Sign in</a></li>
            {% endif %}

            <li><a href="{% url 'basic_app:register' %}">Register</a></li>

            {% if user.is_authenticated %}
            <li><a href="{% url 'basic_app:contact' %}">Contact</a></li>
            {% endif %}

            <hr>
            {% if user.is_staff %}
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
            {% endif %}

            {% if user.is_authenticated %}
            <h3 class="user">{{request.user.username}}</h3>
            {% endif %}
        </ul>
    </nav>

    <div class="cont">
    {% block body %}
    {% endblock %}
    </div>

</body>

</html>