{% extends "basic_app/base.html" %}
{% load static %}
{% block body %}

<!-- Homepage -->
<section class="cont">
    <h1>Home</h1>

    <div class="home-nav">
        <li><a href="#nav">Home</a></li>
        <li><a href="#about-me">About me</a></li>
        <li><a href="#personal">Personal Projects</a></li>
        <li><a href="#career">Career Objectives</a></li>
        <li><a href="#resume">Resume</a></li>
    </div>

    <h1>Andrew M Brase</h1>
    <h2>Web Developer, Reptile Enthusiast</h2>

    <!-- <img src='../../static/imgs/andrew.jpg' alt="andrew-photo" width="450" height="250" style="float:left; margin-right: 1em;"> -->
    <p>Hello and welcome to my website! My name's Andrew and I enjoy making things with Python and Javascript. This
        website was created
        with the Django web framework as well as Javascript, HTML and CSS.</p>

    <section id="about-me">
        <br>
        <h1>About me</h1>

        <h2>Personal interests & hobbies</h2>
        <p>The advances in the AI field & ML are very exciting for me. Specifically <a
                href="https://openai.com/blog/chatgpt/">ChatGPT by OpenAI</a>. </p>
        <p>I've
            always been into gaming ever since I got my first XBOX, I can remember my first game was Freestyle MetalX.
            Now I play a lot of VR titles from the PC I built a few years ago.</p>
        <p>I code as a hobby and a way to invest in myself.</p>

        <h2>Job responsibilities</h2>
        <p>Currently I'm a Configuration Technician. I work with Cisco IOS, Linux Distributions, Junos OS as well as
            other network operating systems.
            I configure devices based on specific customer requests via a terminal emulator & CLI. I run QA logs after
            configuration to ensure that there are no errors.
            You can read more about my job experience <a href="#resume">here</a> at my resume.

        </p>

    </section>

    <section id="personal">
        <br>
        <h1>Personal Projects</h1>
        <a href="https://github.com/andrewbrase" target="_blank" rel="noopener noreferrer">Github Main Page</a>
        <h3>First Tic Tac Toe Game (Python) - <a
                href="https://github.com/andrewbrase/Early_Projects/blob/main/01_First_Project_TicTacToe/tic_tac_toe.ipynb"
                target="_blank" rel="noopener noreferrer">Github
                Link</a></h3>
        <p>This project was definitely a rough one. At the time I was learning about functions and basic loops. I can
            see now that not
            naming my function parameters was a bad idea because it confused me in the long run. It's also clear that I
            didn't understand
            the DRY principle, you can see that in the victory conditions.</p>

        <h3>Email Automation/Excel Project (Python) - <a
                href="https://github.com/andrewbrase/Early_Projects/blob/main/03_Mail_Automation_Project/automate_mail_ipc.ipynb"
                target="_blank" rel="noopener noreferrer">Github
                Link</a>
        </h3>
        <p>This was an idea that I had to automate sending troubleshooting emails from my previous position.
            Openpyxl is a Python library that is used to read from an Excel file or write to an Excel file. Using Openpyxl
            to collect device data such as serial numbers, mac addresses etc. I could send an email to tech support to try and resolve the device issues with that order.
            An App Password is a unique 16-digit passcode that gives a non-Google app or device permission to access your Google Account.
             This allows me to send emails and have a target email to send this info to i.e. tech support.
        </p>

        <h3>---- - <a
                href="https://github.com/andrewbrase/Early_Projects/blob/main/03_Mail_Automation_Project/automate_mail_ipc.ipynb"
                target="_blank" rel="noopener noreferrer">Github
                Link</a>
        </h3>
        <p>---</p>

    </section>

    <section id="career">
        <br>
        <h1>Career Objectives</h1>
        <p>---</p>
    </section>

    <p>---</p>

    <h1 id="resume">Resume</h1>
    <a href="../../static/A_Brase_Resume.pdf" class='link' download>download resume</a>

</section>
<br><br><br>

{% endblock %}