{% extends "basic_app/base.html" %}
{% load static %}

{% block body %}

<section class="cont" style="margin-top: 40px;">
    <h1>Register</h1>

    {% if registered %}
    <h3>Thank you for registering!</h3>

    <script>
        setTimeout(() => {
            window.location.href = "/";
        }, "2000")
    </script>
    {% else %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" value="Submit">
    </form>
    {% endif %}
    
</section>

{% endblock %}