{% extends "basic_app/base.html" %}
{% load static %}

{% block body %}

<section class="cont">
    <h1>Register</h1>

    {% if registered %}
    <h3>Thank you for registering!</h3>

    <script>
        setTimeout(() => {
            window.location.href = "/";
        }, "2000")
    </script>
    {% else %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        <h6>Passwords must be longer than 9 characters & include digit(s)</h6>
        {{ profile_form.as_p }}
        
        <input type="submit" value="Submit">
    </form>
    {% endif %}
    <h4><a href="https://en.wikipedia.org/wiki/Cryptographic_hash_function" target="_blank" rel="noopener noreferrer">This website uses hashing algorithms*</a></h4>

</section>

{% endblock %}